{% extends 'base_generic.html' %}

{% block content %}
    <h1>Local Library Home</h1>

    <p>
        Welcome to <em>LocalLibrary</em>, a website developed by
    <em>Joaquin Jurao!</em>
    </p>

    <h2>Dinamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
        <li><strong>Books that contain 'hola':</strong> {{ num_hola_in_book }}</li>
    </ul>
{% endblock %}

{% block title %}

    <title>Joako's Landing-Page</title>

{% endblock %}
